

.banner {
    .carouselContainer {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    height: 700px;
                    .img{
                        position: 0;
                        top: 0;
                        left: 0;
                        min-height: 800px;
                         
                    }
                    .carousel-caption {
                        text-shadow: 2px 2px 15px black;
                        padding-bottom: 10%;
                        
                        .p {
                            font-size: 2rem;
                            font-family: 'Roboto Condensed', sans-serif;
    
                        }
                        button {
                            min-width: 130px;
                            height: 40px;
                            color: #fff;
                            padding: 5px 10px;
                            font-weight: bold;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            position: relative;
                            display: inline-block;
                            outline: none;
                            border-radius: 5px;
                            border: 2px solid #ff0a78;
                            background: #ff0a78;
    
                            &:hover {
                                background: #fff;
                                color: #ff0a78
                            }
    
                            
    
                        }
                    }
                }
            }

        }
        
    }
}