.conection {
    padding-bottom: 90px;
    padding-top: 90px;
    .container {
        .row {
            .col {
                .boxforms {
                    border-radius: 20px;
                    border-color: navy;
                    box-shadow: 4px 6px 30px gray;
                    text-align: center;
                    padding-top: 2rem;
                    padding-bottom: 2rem;

                    .buttform {
                        min-width: 130px;
                        height: 40px;
                        color: #fff;
                        padding: 5px 10px;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        position: relative;
                        display: inline-block;
                        outline: none;
                        border-radius: 5px;
                        z-index: 0;
                        background: #fff;
                        overflow: hidden;
                        border: 2px solid #ff0a78;
                        color: #ff0a78;

                        &:hover {
                            color: #fff;

                            &::after {
                                width: 100%;
                            }
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            transition: all 0.3s ease;
                            left: 0;
                            top: 0;
                            width: 0;
                            height: 100%;
                            background: #ff0a78;
                        }

                    }
                }
            }
        }
    }
}