.root {
    font-size: 1.6rem;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 4rem;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
}
h4 {
    font-size: 3rem;
}